<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password - Sage Salon</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <div class="sidebar">
        <div class="logo-details">
            <ion-icon name="flower-outline" class="logo-icon"></ion-icon>
            <span class="logo_name">Sage <br><small>Salon & Spa</small></span>
        </div>
       <ul class="nav-links">
            <li><a href="dashboard.html"><ion-icon name="home-outline"></ion-icon><span class="link_name">Dashboard</span></a></li>
            <li><a href="inventaris.html"><ion-icon name="cube-outline"></ion-icon><span class="link_name">Inventaris</span></a></li>
            <li><a href="kasir.html"><ion-icon name="cart-outline"></ion-icon><span class="link_name">Kasir Salon</span></a></li>
            <li><a href="laporan_gaji.html"><ion-icon name="receipt-outline"></ion-icon><span class="link_name">Laporan Gaji</span></a></li>
            <li><a href="pengaturan.html"><ion-icon name="settings-outline"></ion-icon><span class="link_name">Pengaturan</span></a></li>
            <li><a href="password.html"><ion-icon name="lock-closed-outline"></ion-icon><span class="link_name">Password</span></a></li>
            <li><a href="logout.html"><ion-icon name="log-out-outline"></ion-icon><span class="link_name">Sign Out</span></a></li>
        </ul>


        <div class="profile-content">
            <div class="profile"><div class="profile_details"><img src="https://imgur.com"><div class="name_job"><div class="name">Sari</div><div class="job">(Admin)</div></div></div></div>
        </div>
    </div>

    <div class="main-container single-column">
        <div class="header-title">Ubah Keamanan Akun</div>
        <div class="section-box" style="max-width: 450px;">
            <div class="section-title">🔒 Ganti Kata Sandi</div>
            <div id="notif" style="display:none; background:#e2f0d9; padding:10px; color:#2d4a36; margin-bottom:15px; border-radius:4px;"></div>
            <form id="form-pass">
                <div class="form-group">
                    <label>Password Baru</label>
                    <input type="password" id="p_baru" required placeholder="••••••••">
                </div>
                <button type="submit" class="btn-pay">Simpan Kata Sandi</button>
            </form>
        </div>
    </div>

    <script type="module" src="https://unpkg.com"></script>
    <script>
        document.getElementById('form-pass').addEventListener('submit', function(e) {
            e.preventDefault();
            document.getElementById('notif').style.display = 'block';
            document.getElementById('notif').innerHTML = '✅ Kata sandi admin berhasil diperbarui!';
            document.getElementById('p_baru').value = '';
        });
    </script>
</body>
</html>
