<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaris Salon</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
        <div class="sidebar">
        <div class="logo-details">
            <ion-icon name="flower-outline" class="logo-icon"></ion-icon>
            <span class="logo_name">Sage <br><small>Salon & Spa</small></span>
        </div>
        
        <ul class="nav-links">
            <li><a href="dashboard.html"><ion-icon name="home-outline"></ion-icon><span class="link_name">Dashboard</span></a></li>
            <li><a href="inventaris.html"><ion-icon name="cube-outline"></ion-icon><span class="link_name">Inventaris</span></a></li>
            <li><a href="kasir.html"><ion-icon name="cart-outline"></ion-icon><span class="link_name">Kasir Salon</span></a></li>
            <li><a href="laporan_gaji.html"><ion-icon name="receipt-outline"></ion-icon><span class="link_name">Laporan Gaji</span></a></li>
            <li><a href="pengaturan.html"><ion-icon name="settings-outline"></ion-icon><span class="link_name">Pengaturan</span></a></li>
            <li><a href="password.html"><ion-icon name="lock-closed-outline"></ion-icon><span class="link_name">Password</span></a></li>
            <li><a href="logout.html"><ion-icon name="log-out-outline"></ion-icon><span class="link_name">Sign Out</span></a></li>
        </ul>



            
            <div class="profile-content">
                <div class="profile">
                    <div class="profile_details">
                        <img src="https://imgur.com" alt="profileImg">
                        <div class="name_job">
                            <div class="name">Sari</div>
                            <div class="job">(Admin)</div>
                        </div>
                    </div>
                    <a href="logout.html"><ion-icon name="log-out-outline" id="log_out"></ion-icon></a>
                </div>
            </div>
        </ul>
    </div>

</body>

</html>
